@import '/styles/sass/mixins';

.navbar {
  width: 100%;
  height: $navbar-height;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  .innerNav {
    max-width: $max-page-width;
    width: calc(100vw - $page-margin-large * 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include screen-tablet-sm {
      width: calc(100vw - $page-margin-small * 2);
    }
    @include screen-mobile-lg {
      width: calc(100vw - $page-margin-xsmall * 2);
    }
    .socialsBox {
      display: flex;
      gap: $content-gap;
      @include screen-tablet-sm {
        gap: $content-gap / 2;
      }
      .social {
        background-color: $color-dark;
        border-radius: 50%;
        height: $navbar-height - 15px;
        width: $navbar-height - 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        &:hover {
          background-color: $color-med;
        }
        .icon {
          height: $navbar-height - 30px;
          width: $navbar-height - 30px;
        }
      }
    }
  }
}
