@import '/styles/sass/mixins';

.experienceSection {
  @include sectionInit;
  .contentBox {
    flex-direction: row-reverse;
    @include screen-tablet-sm {
      flex-direction: column;
    }
    .contentGrid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        'item1 item1 item1 item2 item2'
        'item3 item3 item4 item4 item4';
      @include screen-tablet-lg {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
          'item1 item1 item2 item2'
          'item3 item3 item4 item4';
      }
      @include screen-tablet-sm {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
          'item1'
          'item2'
          'item3'
          'item4';
      }
      .gridItem {
        .text {
          right: 1.5rem;
          @include screen-tablet-lg {
            right: unset;
            left: 1.5rem;
            .itemTitle {
              font-size: 2.2rem;
              letter-spacing: 0;
            }
          }
        }
        &:nth-child(1) {
          grid-area: item1;
        }
        &:nth-child(2) {
          grid-area: item2;
        }
        &:nth-child(3) {
          grid-area: item3;
        }
        &:nth-child(4) {
          grid-area: item4;
        }
        &:nth-child(5) {
          grid-area: item5;
        }
        .gridImage {
          filter: saturate(0.75);
        }
      }
    }
  }
}
